.Products {
  text-align: center;
}
.pagination {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  cursor: pointer;
}
.pagination a {
  padding: 10px;
  border: 1px solid gray;
  color: gray;
}

.pagination__link {
  font-weight: bold;
}

.pagination__link--active a {
  color: #fff;
  background: gray;
}

.pagination__link--disabled a {
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
}
